.banner
    justify-content: center
    padding: 10% 10%
    


.paragraphe
    width: 40%

    h1
        font-size: 3rem !important


.glaceBanner
    animation: icecreamMoving 3s infinite

@keyframes icecreamMoving 
    0% 
        transform: translateY(0)
    50% 
        transform: translateY(-50px)


 
.glaceBanner
    width: 60%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    padding: 5% 0

.glaceBanner img
    height: 280px
    width: auto
    transition: top 25s
    transform: translateX(20%)
    transform: translateY(30%)
    animation: moveUpDown 5.5s infinite ease-in-out

.order
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white

.order:hover
    background-color: black
    color: $pink

@media (min-width: 576px) and (max-width:768px)
    .banner
        flex-direction: row
        margin-top: 30%

    .glaceBanner img
        width: 220px
        height: auto
        margin-top: 20%

@media (max-width: 576px)
    .banner
        display: block
        justify-content: center !important
        flex-direction: column-reverse
        text-align: center
        width: 100vw !important
        margin-left: 50%
        margin-top: 2% !important
        h1
            font-size: 2rem !important

    .paragraphe
        width: 100% !important

    .glaceBanner img
        width: 320px !important
        height: auto
        margin-top: 20%
        animation: none
        position: none
        top: 0
        bottom: 0
