.banner
    margin-top: 8%
    padding-bottom: 10%
    img
        margin-top: 30%

.glaceBanner img
    height: 250px
    width: auto

.order
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white
