.banner
    margin-top: 8%
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 15%

.paragraphe
    width: 60%
    margin-left: 20% !important
    margin-top: 10%

.glaceBanner
    width: 40%
    overflow: hidden
    margin-right: 10% !important


.glaceBanner img
    height: 250px
    width: auto
    position: absolute
    // bottom: 15%
    transition: top 25s
    transform: translateX(20%)
    transform: translateY(30%)
    animation: moveUpDown 5.5s infinite ease-in-out
    margin-bottom: 13%
    

@keyframes moveUpDown
    0%
        bottom: 0

    50%
        bottom: 55px

    100%
        bottom: 0

.order
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white

.order:hover
    background-color: black
    color: $pink

@media (min-width: 576px) and (max-width:768px)
    .banner 
        flex-direction: row


    .paragraphe, .glaceBanner 
        width: 35%

    .glaceBanner img
        width: 220px
        height: auto




