
//Styles de base pour le bouton burger//

#burger span
    height: 50px
    width: 50px
    position: relative
    gap: 10px

#navbar-links .nav-item
    margin: 0 5px

#navbar-links .nav-link
    padding: 1px 10px

.burger
    display: none
    flex-direction: column
    justify-content: space-around
    width: 1rem
    height: 1rem
    background: transparent
    border: none
    cursor: pointer
    padding: 0
    position: relative
    z-index: 10

.bar span
    width: 40px
    height: 4px
    margin: 6px 0

.burger .bar
    width: 1.5rem
    height: 0.40rem
    background: black
    border-radius: 10px
    transition: all 0.3s linear
    position: relative
    transform-origin: 15px
    margin: 2px 1px 1px 1px

/* Transformation en croix */
.burger.active .bar:nth-child(1)
    transform: rotate(45deg)

.burger.active .bar:nth-child(2)
    opacity: 0

.burger.active .bar:nth-child(3)
    transform: rotate(-45deg)

.navbar-collapse
    width: 100%
    justify-content: center

.iconNav button
    background-color: $pink
    padding: 2px
    transition: background-color 0.3s

.iconNav .border-0:hover
    background-color: $pink

/* Affichage du menu burger sur les petits écrans */
@media (max-width: 768px)
    .burger
        display: flex
        justify-content: right !important
        


    .iconNav
        order: 1

    #navbarScroll
        display: none
        flex-direction: column
        width: 100%
        position: absolute
        top: 60px
        left: 0
        background-color: #494646
        color: white !important
        transform: scale(2)

    #navbarScroll.active
        display: flex
        color: white
        font-size: 12px
