
.burger
    display: none
    position: absolute
    right: 30px
    top: 50%
    transform: translateY(-50%)
    padding: 0
    width: 45px
    height: 45px
    border: none
    background: transparent
    cursor: pointer

.icones
    position: absolute
    right: 60px
    gap: 0 !important
    margin: 0 !important
    display: flex
    justify-content: space-around


.textL
    display: flex
    justify-content: center
    gap: 15px !important

#login
    margin-top: 5%  !important
.bar
    display: block
    width: 45px
    height: 4px
    border-radius: 3px
    background: black
    transition: all .5s ease-in-out

.bar::before, .bar::after
    content: ""
    width: 45px
    height: 4px
    position: absolute
    left: 0px
    background: #ec92cd
    border-radius: 3px
    transition: all .5s ease-in-out

.bar::before
    transform: translateY(-12px)

.bar::after
    transform: translateY(12px)

@media (min-width: 576px) and (max-width:768px)

    .navbar
        width: 100%

    .burger
        display: block
        margin: 0 !important
        right: 30px
        top: 50%
        transform: translateY(-50%)
        padding: 0
        width: 35px 
        height: 35px
        border: none
        background: transparent
        cursor: pointer

    .burger button
        align-items: flex-end !important
        display: none
    


    .navbar-links
        width: 100%
        overflow: hidden
        box-sizing: border-box
        display: flex
        flex-direction: row
        width: 0
        height: 80px
        position: absolute
        top: 100px
        left: 0
        background: #696868
        transform: translateX(120%)
        transition: all 1.5s ease-in-out
        visibility: hidden

    .show-nav .navbar-links
        width: 100vw
        transform: translateX(0)
        visibility: visible

    .navbar-link
        transform: translateX(90%)
        transition: all .5s ease-in-out

    .icones
        display: flex
        justify-content: space-around !important
        margin: 0 !important


    .show-nav .navbar-link
        transform: translateX(0)

    .navbar-link > a
        display: block
        padding: 1rem
        font-size: 1.6rem
        color: white !important
        transition: all .4s ease-in-out

    .navbar-link > a:hover
        padding-left: 2rem
        letter-spacing: 5px