.temoinT
    margin-left: 45%
    margin-top: 5%
    h1
        font-size: 3rem !important

.carousselEntier
    position: relative
    max-width: 60%
    margin: auto
    padding: 10px
    margin-bottom: 10%

.texteCar
    height: 250px
    width: 100%
    background-color: #fffefe
    padding: 5%
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9)

.carouElement
    position: absolute
    bottom: 0
    width: 100%

.slides
    display: flex
    overflow: hidden
    width: 100%

.slide
    display: none
    width: 100%
    justify-content: center !important

.slide.active
    display: flex

.slide img
    width: 150px
    height: 150px
    position: absolute
    bottom: -75px
    object-fit: cover

.btnC
    position: absolute
    color: white
    height: 40px
    width: 40px
    background-color: $pinkButton
    border: none
    padding: 20px
    cursor: pointer
    top: 45%

#previous
    left: -10px
    padding: 5px

#previous:hover
    background-color: black
    color: $pink

#next
    right: -10px
    padding: 5px

#next:hover
    background-color: black
    color: $pink

// .guillemet
//     i
//     height: 700px
//     width: 700px
//     position: absolute
//     z-index: 1
//     font-size: 10rem !important
//     top: 540px
//     left: 50px
//     color: black

@media (min-width: 576px) and (max-width:768px)
    .carousselEntier
        width: 100% !important
        position: relative

    .texteCar
        width: 80% !important
        margin-left: 15%

    #next
        right: 5px

    #previous
        left: -5px

    .btnC
        font-size: 24px
        padding: 10px

    .slide
        width: 300px !important
        position: relative

    .slide img
        left: 105px
        top: -65px
        ul
            margin: 0
