.lightMode
    background-color: white
    color: black
    transition: 0.5s
    transition: background-color 0.9s ease, color 0.9s ease

.darkMode
    background-color: #150404 !important
    color: #e7dbdb !important
    transition: 0.5s
  
#boutonLight
    display: none
