.lightMode
    background-color: white
    color: black
    transition: 0.5s

.darkMode
    background-color: #150404 !important
    color: #e7dbdb !important
    transition: 0.5s


    /* Styles pour le mode sombre */
.sombre 
    color: white !important
    background-color: black !important
    transition: background-color 0.9s ease, color 0.9s ease
