
footer 
    background-color: #212121
    color: white
    padding: 2rem


.footer-grid 
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 2rem
    max-width: 1200px
    margin: 0 auto


.gauche 
    display: flex
    flex-direction: column
    gap: 1rem


.bordureF
    background-color: white
    width: 160px
    height: 2px


.gauche .send 
    width: 180px
    height: 40px
    color: white
    border: none
    cursor: pointer
    align-self: flex-start
    background-color: $pinkButton
    border: none
    color: white
    margin-bottom: 5%
    margin-top: 2%



.droite 
    display: grid
    grid-template-columns: 1fr
    gap: 1.5rem


.infos 
    display: flex
    flex-direction: column
    gap: 1rem


.infos .d-flex 
    align-items: center


.newsletter 
    display: flex
    flex-direction: column
    gap: 1rem

#message
    background-color: #212121
    color: white


.newsletter p 
    margin: 0


.input-group
    margin-bottom: 5%

.input-group textarea 
    flex: 1
    padding: 0.5rem
    height: 40px

.send:hover 
    background-color: #ffffff
    color: black

#subscribeBtn 
    width: 180px
    height: 40px
    background-color: $pinkButton
    color: white
    border: none
    font-size: 18px
    cursor: pointer
    transition: background-color 0.3s ease
    margin-right: 20%


#subscribeBtn:hover 
    background-color: #ffffff
    color: black

.droite i
    cursor: pointer
    transition: color 0.5s ease

.droite i:hover
    color: $pink

.reseaux 
    display: flex
    gap: 1rem
    font-size: 1.5rem


.reseaux i 
    cursor: pointer
    transition: color 0.5s ease


.reseaux i:hover 
    color: $pink

