.about
    margin-top: 5%

.aboutPara
    margin-top: 10% !important
    margin-right: 2%

.glaceMain img
    width: 400px
    height: auto
    margin-left: 20%

.bordure
    background-color: $pink
    width: 80px
    height: 5px
    border-radius: 15px
    margin-top: 4%
    margin-left: 4%

.titre
    margin-left: 15%
    margin-top: 8%

.bordure2
    background-color: $pink
    width: 80px
    height: 5px
    border-radius: 15px
    margin-left: 31%
    margin-top: -4.2%

.glaces3
    display: grid
    grid-template-columns: repeat(3, 350px)
    grid-template-rows: repeat(2, auto)
    gap: 50px
    justify-content: center
    margin: 30px

.premierePhoto
    width: 100%
    margin-top: 5%
    margin-bottom: 20%
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    position: relative
    z-index: 1

.grisSpec
    height: 260px
    width: 350px
    background-color: #f0f0f4
    cursor: pointer
    transition: background-color 0.3s
    img
        padding: 5%
        padding-left: 35%

.gris
    height: 260px
    width: 350px
    background-color: #f0f0f4
    padding-left: 30%
    cursor: pointer
    transition: background-color 0.3s
    img
        padding: 1%
        padding-left: -12%
        position: relative
        top: 35px
        right: 35px

#fraise
    position: relative
    top: 35px
    right: 35px

.texte
    display: block !important
    justify-content: center !important
    align-items: center !important
    margin-left: 10%
    margin-bottom: 5%
    margin-top: 5%
    text-align: center
    padding: 5% !important
    span
        margin-left: 20%
    h5
        margin-right: 23%
        padding-bottom: 5%
        padding-top: 5%
    button
        margin-right: 23%

.rond
    background-color: #e5e5ed
    border-radius: 50%
    height: 85px !important
    width: 85px !important
    padding: 5%
    position: absolute
    z-index: 2
    bottom: 150px
    left: 50px
    font-style: 1.5rem

.add
    border: 1px solid $pinkButton
    color: $pinkButton
    background-color: white
    width: 180px
    height: 40px
    border-radius: 25px

.add:hover
    background-color: black
    color: $pink

.see
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white
    margin-left: 45%
    margin-bottom: 5%

.see:hover
    background-color: black
    color: $pink

@media (min-width: 576px) and (max-width:768px)
    // .glaceF
    //     margin: 0 center !important
    .premierePhoto
        width: 350px

    .glaceMain img
        width: 200px
        height: auto
        margin-left: 20%
        margin-top: 25%

    .bordure
        background-color: $pink
        width: 80px
        height: 5px
        border-radius: 15px
        margin-top: 6%
        margin-left: 4%

    .glaces3
        grid-template-columns: repeat(1, 1fr)
        gap: 30px
        width: 100%

    .grisSpec
        height: 260px
        width: 350px
        img
            margin-left: 8%

    .gris
        height: 260px
        width: 350px
        img
            margin-left: 3%
            margin-top: 2%

    .bordure2
        margin-left: 61%

    .rond
        position: absolute
        z-index: 2
        bottom: 180px
        left: 60px

    h5
        margin-left: 10% !important
    button
        margin-left: 13% !important

 