.about
    margin-top: 10%

.aboutPara
    margin-top: 8%
    margin-right: 2%

.glaceMain img
    width: 400px
    height: auto
    margin-left: 20%

.bordure
    background-color: $pink
    width: 80px
    height: 5px
    border-radius: 15px
    margin-top: 4%
    margin-left: 4%

.titre
    margin-left: 5%
    margin-top: 5%

.bordure2
    background-color: $pink
    width: 80px
    height: 5px
    border-radius: 15px
    margin-left: 28%
    margin-top: -2%

.premierePhoto
    width: 50%
    margin-top: 5%
    margin-bottom: 20%

.gris
    background-color: #f8f9fa
    height: 60% !important
    width: 100% !important
    padding: 20px
    margin: 15px

.gris img
    width: 100%
    height: auto

.boiteP span
    background-color: #e6e6f0
    border-radius: 50%
    height: 80px !important
    width: 80px !important
    padding: 5%

.add
    border: 1px solid $pinkButton
    color: $pinkButton
    background-color: white
    width: 180px
    height: 40px
    border-radius: 25px

.boiteP
    height: 150px
    width: 365px
    background-color: #fbfbff
    margin-right: 40%
    padding-right: 20px


.glace1
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    height: 450px !important
    width: 350px
    padding: 15%
