
nav
    height: 100px !important
    border-bottom: 2px solid $pink !important
    margin-bottom: 4% !important
    // position: relative

ul
    list-style: none !important
    font-weight: 500 !important
    display: flex
    justify-content: space-between
    align-items: center
    gap: 50px

.burger
    display: none


#home
    text-decoration-color: none
    color: $pink !important

ul a
    color: black !important

ul a:hover 
    color: $pink !important

.icones button
    border: none
    text-decoration: none
    background: none

@media (min-width: 576px) and (max-width:768px)
    .navB
        .logoimg
            margin: 30px !important

        
