// nav
//     background-color: white
//     padding-top: 2% !important

// #home 
//     text-decoration-color: none
//     color: $pink !important


// ul a
//         color: black !important

// ul a:hover 
//     color: $pink !important

// .myNav
//     border-bottom: 2px solid $pink !important
//     width: 96%
//     margin-left: 2% !important


// #login 
//     color: black
//     transition: color 0.3s ease


// #login:hover 
//     color: #ffbedd

// @media (min-width: 576px) and (max-width:768px)
//     nav
//         width: 100%
     

header
    border-bottom: 1px solid pink
    height: 80px
    ul
        list-style: none
        font-weight: 500
    .burger2
        display: none
    .nav2
        display: none
        
    .ouvert
        display: flex !important
    