#services1
    padding-inline: 8vw
    
.services
    margin-top: 5%
    h1
        font-size: 3rem !important

.grandeD
    display: flex
    justify-content: space-between
    margin-top: 10% !important

.carre1
    height: 200px
    width: 32%
    border: 2px solid $pink !important
    padding: 2%
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    .title
        display: flex
        align-items: center

.read
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white

.read:hover
    background-color: black
    color: $pink

@media (max-width:769px)
    .grandeD
        flex-direction: column
        gap: 25px
    .carre1
        width: 100%

@media (max-width: 576px)
    .services h1
        font-size: 1.5rem !important

