.services
    margin-left: 15%
    margin-top: 5%



.grandeD 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin-left: 14.7%
    margin-top: 10% !important



.carre1 
    height: 180px
    width: 350px
    border: 2px solid $pink !important
    padding: 10px
    display: grid
    flex-direction: column
    justify-content: space-between



.read
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white
    margin-left: 45%
    margin-bottom: 5%
    margin-top: 5%


.title
    margin-top: 2%
    img
        margin-top: 25%
