.services
    margin-left: 15%
    margin-top: 5%

.carre1
    height: 180px
    width: 350px
    padding: 2%
    border: 1px solid $pink

.read
    background-color: $pinkButton
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    color: white
    margin-left: 45%
    margin-bottom: 5%
    margin-top: 5%
